.icon-disk {
    background-image: url(../images/icon/disk.png) !important;
}
.icon-door-out {
    background-image: url(../images/icon/door-out.png) !important;
}
.icon-add {
    background-image: url(../images/icon/add.png) !important;
}
.icon-table_row_insert {
    background-image: url(../images/icon/table_row_insert.png) !important;
}
.icon-find {
    background-image: url(../images/icon/find.png) !important;
}
.icon-search {
    background-image: url(../images/icon/search.png) !important;
}
.icon-clean {
    background-image: url(../images/icon/clean.png) !important;
}
.icon-collapse {
    background-image: url(../images/icon/collapse.png) !important;
}
.icon-delete {
    background-image: url(../images/icon/delete.png) !important;
}
.icon-help{
    background-image: url(../images/icon/help.png) !important;
}
.icon-arrow_switch{
    background-image: url(../images/icon/arrow_switch.png) !important;
}
.icon-exception{
    background-image: url(../images/icon/exception.png) !important;
}
.icon-accept{
    background-image: url(../images/icon/accept.png) !important;
}
.icon-basket_put{
    background-image: url(../images/icon/basket_put.png) !important;
}
.icon-stop{
    background-image: url(../images/icon/stop.png) !important;
}
.icon-user_add{
    background-image: url(../images/icon/user_add.png) !important;
}
.icon-arrow_refresh{
    background-image: url(../images/icon/arrow_refresh.png) !important;
}
.icon-comments{
    background-image: url(../images/icon/book_open.png) !important;
}
.icon-new{
    background-image: url(../images/icon/page_white_add.png) !important;
}
.icon-list_packages{
  background-image: url(../images/icon/list_packages.gif) !important;
}
.icon-proceso_flujo{
  background-image: url(../images/icon/proceso_flujo.png) !important;
}
.icon-proceso_control{
  background-image: url(../images/icon/proceso_control.png) !important;
}
